.logo
{   margin-left: 8%;
    width: 150px;
    height:150px;
    border-radius:50%;
    font-size:50px;
    color: white;
    line-height:200px;
    text-align:center;
    background:#E01A00;
    font: 400 62px/1.3 'Merienda One', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    
}
.logo-text
{
    margin: 5px;
    font: 'Merienda One', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    font-size: 24px;
}

.flex-container {
  padding: 5px;
  margin-left: 8%;
  list-style: none;
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background-color: white;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dokraja
{
    background-color: #E01A00;
    border: none;
    padding: 0px;
     height: 37px;
    display: inline-block;
    width: 865px;    
}



.button {
    background-color: #E01A00;
    border: none;
    color: white;
    text-align: center;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 29px;
    width: 112px;
}


.button:hover {
    background-color: #C50A01;
}


.flex-container-posts
{
    list-style: none;
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    display: flex;
    width: 100%;
    margin-left: 8%;
    
    
    
}

.banner
{
    background-image: url("slike/lenovo.jpg");
    margin: inherit;
   margin-left: 10px;
    margin-right: 10px;
    width: 860px;
    height: 260px;
    background-repeat: no-repeat;
   
      
}

.first-column
{
    background-image: url("slike/sony.png");
    margin: inherit;
    margin-left: 10px;
    margin-right: 10px;
   
    width: 430px;
    height: 260px;
    background-repeat: no-repeat;
    padding: inherit;
}
.news
{
    margin: inherit;
    width: 417px;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    padding: inherit;
    display: inline-block;
    border: 2px solid #E01A00;
    border-radius: 10px;
}

.objava
{
    margin-top: 16px;
    float: right;
    font-weight: bold;
    color: lightgrey;
}
.one
{
    background-image: url("slike/img1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    width: 240px;
    height: 60%;
    
}

#filter
{
    width: 130px;
    margin-left: 9%;
}

.objavaSpas
{
    display: none;
}
.heading
{
   line-height: 100px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    width: 79%;
    margin-left: 9%;
    padding: 0px;
    border-bottom: 2px solid dimgrey;
    font-size: 22px;
    font-style: italic;
    color: dimgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}


table {
    width: 60%;
    padding: 12px;
    position: relative;
    background-color: lightgray;
    left: 20%;
    right: 20%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	border-spacing: 0;
    border: 4px solid #E01A00; 
    border-radius: 10px;
    height: 40%;
    
}

.center
{
    text-align: center;
    font: 'Merienda One', Helvetica, sans-serif;

}

.head {
    color: white;
    background: #E01A00;
    font-size: 20px;
    text-transform: uppercase;
}

.resto {
    color: #423C3C;
    font-size: 20px;
}

.parni {
    background: white;
}

h1, h2, h3, h4
{
    color: #423C3C;
}

.gumb-centar
{
margin: auto;
height: 45px;
width: 90px;
font-size: 18px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   border-radius: 10px;
   background-color: #E01A00;
}
.gumb-centar:hover
{
    background-color: #C50A01;
}


form * {
        display: block;
}

form, .linkovi {
    width: 30%;
    border: 4px solid #423C3C; 
    border-radius: 10px;
    padding: 14px;
    padding-left: 14px;
    background-color: lightgray;
    position: relative;
    left: 35%;
    right: 35%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
     
}

.naslov-forma
{
    width: 100%; 
    border-radius: 6px; 
    padding: 14px;
    margin-left: -14px;
    margin-top: -14px;
    text-align: center;
    background-color: #E01A00;
    position: relative;
    font-size: 20px;
   color: white;
   
    
}

label  {
   font-size: 20px;
   color: #423C3C;
   
   font-weight: bold;
   margin-top: 20px;

}

input, textarea, select {
    width: 95%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 7px 16px;
    border: 2px solid #423C3C;
    border-radius: 4px; 
    font-size: 16px;
    background: white;
}

textarea {
    max-width: 95%;
    height: 150px;
    resize: none;
}

.onama
{   margin-left: 2%;
    width: 300px;
    height:300px;
    border-radius:50%;
    color: white;
    line-height:200px;
    text-align:center;
    background-image: url("slike/profil.jpg");
    font: 400 62px/1.3 'Merienda One', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-bottom: -30px;
    
}
.onama-wrap
{
    margin: inherit;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: inherit;
    display: inline-block;
    border: 2px solid #E01A00;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-right: 18%;
}

 
 .dodatno
 {
     margin-top: 5px;    
  color: #C50A01;
  float: left;
 }
 
 a.remove_underline
 {
     text-decoration-line: none;
 }
.facebook
{
  list-style: none;
   margin-left: 10%;
   margin-top: 40px;
   float: left;
}
 
.facebook:hover
{
     list-style-image: url("slike/facebook.png");
}


.twitter
{
   list-style: none;
   margin-left: 10%;
   margin-top: 40px;
   float: left;
}

.twitter:hover
{
     list-style-image: url("slike/twitter.png");
}

.youtube
{
   list-style: none;
   margin-left: 10%;
   margin-top: 40px;
   float: left;
}

.youtube:hover
{
        list-style-image: url("slike/youtube.jpg");
}

